parameters:
  fileExtensions:
    - php
    - phpt
  level: 7
  paths:
    - Formularium/
    - tests/
  checkMissingIterableValueType: false
  ignoreErrors:
    - "#Access to an undefined property Faker#"
    - "#Function base_path not found.#"
